html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset above */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: black;
  overflow: hidden; /* Hide scrollbars */
}

button:hover {
  cursor: pointer;
}

.title-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.title-text {
  margin-top: 25vh;
  font-size: 3em;
}

.title-text .start {
  margin-left: 205px;
  background: transparent;
  color: black;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  transition: background-color 1s ease;
}

.title-text .start:hover {
  /* background-color: rgb(52, 52, 88); */
  background-color: pink;
  color: black;
}

.game-container {
  cursor: default;
  /* border-top: 1px white solid; */
  z-index: 10;
  position: relative;
  /* border: 1px solid white; */
  margin-left: 60px;
  margin-top: 80px;
  width: 90%;
  height: 800px;
  background-color: transparent;
}

.ingame-text-container .ingame-text {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: space-evenly;
  align-items: center;
}

.ingame-text h1 {
  margin-top: 5px;
}

.ingame-text p {
  margin-top: 10px;
}

.ingame-text button {
  background: grey;
  border: 1px white solid;
  border-radius: 12px;
  color: black;
  padding: 5px 5px;
  margin-top: 10px;
  width: 100px;
  transition: background-color 0.6s ease-in-out;
}

.ingame-text button:hover {
  background-color: pink;
}

.norm-website {
  z-index: 10;
  /* color: white; */
}

.fish {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-image: url("./assets/cake-picture.png");
  background-size: contain;
  /* background-color: red; */
  background-repeat: no-repeat;
  animation: jump 4s linear infinite;
}

@keyframes jump {
  from {
    bottom: 1;
  }
  50% {
    bottom: 90%;
  }
  to {
    bottom: 0;
  }
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}

.congrats-message {
  transform: translateY(20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.3em;
}

.congrats-message button {
  margin-top: 50px;
  background: grey;
  border: 1px white solid;
  border-radius: 12px;
  color: black;
  padding: 10px 30px;
  transition: background-color 0.3s ease-in-out;
}

.congrats-message button:hover {
  /* background-color: rgb(52, 52, 88); */
  background-color: pink;
}

.screen-img {
  height: 100dvh;
  width: 100dvh;
  /* aspect-ratio: 1920/1080; */
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  position: absolute;
  z-index: -1;
  background-image: url("./assets/bg-img.svg");
}

.layer2 {
  position: absolute;
  z-index: 100;
  background-image: url("./assets/background2.png");
  pointer-events: none;
}

.set-fish-score {
  font-size: 0.5em;
  margin-left: 70px;
  display: flex;
  margin-top: 20px;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

.set-fish-score button {
  background: transparent;
  font-size: 1.5em;
  border: none;
  display: grid;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 30px;
}
.set-fish-score button:hover {
  cursor: pointer;
}

.custom-cursor {
  cursor: url("./assets/chelsea-pic.png") 50 50, auto;
}
